<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%%DOCUMENT_TITLE%%</title>
    <link rel="stylesheet" href="../assets/global.css">
</head>
<body>

    <div class="nav-container">
        <div class="header">
            <div id="topnav_path">
                <a href="/"><img class="logo-image" src="../assets/logo.png" alt="logo"></a>
                <a class="header_button" href="/cv">CV</a>
                <a class="header_button" href="/projects">Projects</a>
                <a class="header_button" href="/contact">Contact</a>
                <a class="header_button" href="/login">Login</a>
            </div>
            
        </div>
    </div>
    

    <main class="main">