
</main>
    
<div class="footer-container">
    <footer class="contact">
        <div>
            <i id="fa"class="fa fa-phone"></i>
            <p class="footer-paragraf">+45 12345678</p>
        </div>
        <div>
            <i id="fa"class="fa fa-envelope"></i>
            <p class="footer-paragraf">Thomas@stud.kea.dk</p>
        </div>
        <div>
            <i id="fa" class="far fa-copyright"></i>
            <p class="footer-paragraf" id="copyright-year"></p>
        </div>
        
    </footer>
</div>
    

    <script src="../components/footer/footer.js"></script>
    <script src="https://kit.fontawesome.com/218421c4fc.js" crossorigin="anonymous"></script>
</body>
</html>